{% liquid
  assign font_weight = font_weight | default: block.settings.font_weight | default: 'regular'
  assign font_weight_class = font_weight | prepend: " font-"
%}
{%- if block.settings.content != blank -%}
  <p class="{{ font_weight_class }} {% if block.settings.text_size != 'base' %}text-{{ block.settings.text_size }}{% endif %}
              {% if block.settings.content_width != 'full' %}max-w-{{ block.settings.content_width }}{% endif %}"
          {{ block.shopify_attributes }}
  >
    {{- block.settings.content -}}
  </p>
{%- endif -%}

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "thin",
          "label": "Thin (100)"
        },
        {
          "value": "extra-light",
          "label": "Extra Light (200)"
        },
        {
          "value": "light",
          "label": "Light (300)"
        },
        {
          "value": "regular",
          "label": "Regular (400)"
        },
        {
          "value": "medium",
          "label": "Medium (500)"
        },
        {
          "value": "semi-bold",
          "label": "Semi Bold (600)"
        },
        {
          "value": "bold",
          "label": "Bold (700)"
        },
        {
          "value": "extra-bold",
          "label": "Extra Bold (800)"
        },
        {
          "value": "black",
          "label": "Black (900)"
        }
      ],
      "default": "regular"
    },
    {
      "type": "text",
      "id": "content",
      "label": "t:global.text.content",
      "default": "<p>Write some text about your products or your brand.</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "xxs",
          "label": "2X Small (0.625rem)"
        },
        {
          "value": "xs",
          "label": "Extra Small (0.75rem)"
        },
        {
          "value": "sm",
          "label": "Small (14px)"
        },
        {
          "value": "base",
          "label": "Base (1rem)"
        },
        {
          "value": "md",
          "label": "Medium (1.0625rem)"
        },
        {
          "value": "lg",
          "label": "Large (1.125rem)"
        },
        {
          "value": "xl",
          "label": "Extra Large (1.25rem)"
        },
        {
          "value": "2xl",
          "label": "2X Large (1.5rem)"
        },
        {
          "value": "3xl",
          "label": "3X Large (1.875rem)"
        }
      ],
      "default": "base"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        },
        {
          "value": "full",
          "label": "t:global.sizes.full_width"
        }
      ],
      "default": "sm"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}
